@model Kursach.ModelViews.ProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@{
    ViewBag.Title = "Profile";
}
<div class="mb-3">
    <h2 id="static" class="d-inline-block mb-0 align-middle">Account name: @User.Identity.Name</h2>
    <form id="non-static" class="d-none" asp-controller="Profile" asp-action="EditName" method="post">
        <input type="text" class="form-control" name="userName" placeholder="New user name" />
        <input type="submit" class="btn btn-default btn-primary d-inline-block mt-3 mb-3" value="Edit" />
    </form>
    <a class="ml-3 btn btn-default btn-primary" href="#" id="edit">Edit</a>
</div>
<form asp-controller="Fanfic" method="get">
    <div class="border rounded p-3">
        @{
            if (Model.accessType)
            {
                <a class="btn btn-default btn-primary" asp-controller="Profile" asp-action="UsersTable">Users table</a>
            }
            <button type="submit" class="btn btn-default btn-primary" asp-controller="Fanfic" asp-action="AddFanfic">Add fanfic</button>
            <button type="submit" class="btn btn-default btn-primary" asp-controller="Fanfic" asp-action="DeleteFanfic">Delete</button>
            <button type="submit" class="btn btn-default btn-primary" asp-controller="Fanfic" asp-action="EditFanfic">Edit</button>
        }
    </div>
    <div class="table-responsive">
        <table class="tablesorter table table-striped table-sm" id="table">
            <thead>
                <tr>
                    <th>
                        <input id="checkbox" type="checkbox" />
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Create date
                    </th>
                    <th>
                        End date
                    </th>
                    <th>
                        Required chapters
                    </th>
                    <th>
                        Ended chapters
                    </th>
                    <th>
                        Link
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.fanfics.Length > 0)
                {
                    @for (int i = 0; i < Model.fanfics.Length; i++)
                    {
                        <tr>
                            <td class="align-middle">
                                <input type="checkbox" asp-for="@Model.fanfics[i].selected">
                            </td>
                            <td class="align-middle">
                                @Model.fanfics[i].name
                            </td>
                            <td class="align-middle">
                                @Model.fanfics[i].createDate
                            </td>
                            <td class="align-middle">
                                @Model.fanfics[i].endDate
                            </td>
                            <td class="align-middle">
                                @Model.fanfics[i].requiredCh
                            </td>
                            <td class="align-middle">
                                @Model.fanfics[i].endedCh
                            </td>
                            <td class="align-middle">
                                <a class="btn btn-default btn-primary p-1 m-1" href="Fanfic/@Model.fanfics[i].id">Link</a>
                            </td>
                        </tr>
                        <tr>
                            <input type="hidden" asp-for="@Model.fanfics[i].id" />
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                            Null
                        </td>
                        <td>
                            Null
                        </td>
                        <td>
                            Null
                        </td>
                        <td>
                            Null
                        </td>
                        <td>
                            Null
                        </td>
                        <td>
                            Null
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
<script>
    let edit = document.getElementById("edit");
    let static = document.getElementById("static");
    let non_static = document.getElementById("non-static");
    edit.addEventListener("click", function () {
        if (!static.classList.contains("d-none")) {
            static.classList.remove("d-inline-block");
            static.classList.add("d-none");
            non_static.classList.remove("d-none");
            edit.classList.add("d-none");
        }
    });
</script>
<script>

    $('#checkbox').click(function () {
        if ($(this).is(':checked')) {
            $('input:checkbox').prop('checked', true);
        } else {
            $('input:checkbox').prop('checked', false);
        }
    });
    $(function () {
        $("#table").tablesorter();
    });
</script>

